<div class="container my-5">
    <!-- Section -->
    
    <section>
      <!-- Modal -->
          <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-body p-0">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <div *ngIf="index!=undefined">
                          <!-- Grid row -->
                          <div class="row">
                          
                              <!-- Grid column -->
                              <div class="col-md-6 py-5 pl-5">
                                  
                                  <h5 class="font-weight-normal mb-3">{{data[index].titulo}}</h5>
  
                                  <p class="text-muted">{{data[index].texto}}</p>
  
                              </div>
                              <!-- Grid column -->
                          
                              <!-- Grid column -->
                              <div class="col-md-6">
                                  <div class="view rounded-right">
                                    <div *ngIf="data[index].category == 'Dibujo/fotografía'">
                                      <img class="img-fluid" src={{data[index].archivo}} alt="DIbujo/fotografía">
                                    </div>
                                    <div *ngIf="data[index].category == 'Música'">
                                      <div class="media">
                                        <audio controls>
                                          <source src={{data[index].archivo}} type="audio/ogg">
                                        Your browser does not support the audio element.
                                          </audio>
                                        </div>
                                    </div>
                                    <div *ngIf="data[index].category == 'Video'">
                                      <div class="media">
                                        <video width="250" height="140" controls>
                                          <source src={{data[index].archivo}} type="video/mp4">
                                        </video>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <!-- Grid column -->
                          
                          </div>
                          <!-- Grid row -->
                      </div>
                      </div>
                  </div>
              </div>
          </div>
  
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">portfolio</h6>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">{{username}}</h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5">DESCRIPTION HERE</p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 dark-grey-text d-flex justify-content-center mb-5">
  
          <button type="button" class="btn btn-flat btn-lg m-0 px-3 py-1 filter" data-rel="all">OPTION1</button>
          <p class="font-weight-bold mb-0 px-1 py-1">/</p>
          <button type="button" class="btn btn-flat btn-lg m-0 px-3 py-1 filter" data-rel="1">OPTION2</button>
          <p class="font-weight-bold mb-0 px-1 py-1">/</p>
          <button type="button" class="btn btn-flat btn-lg m-0 px-3 py-1 filter" data-rel="2">OPTION3</button>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  <!-------------------------------------------------------------------------------------> 
  <!-- Grid row -->
  <div class="gallery mb-5" id="gallery">
    <div *ngFor="let dat of data index as i">
    <!-- Grid column -->
    <div class="mb-3 pics all 2 animation">
      <a data-toggle="modal" data-target="#basicExampleModal"  (click)="ObtenerModal(i)">
        <div *ngIf="dat.category=='Dibujo/fotografía'">
          <div class="text-image-container">
            <img class="img-fluid z-depth-1 rounded" src={{dat.archivo}} alt="Card image cap">
              <div class="text-image">
                <h4 class="text-white">{{dat.titulo}}</h4>
              </div>
          </div>
          
        </div>
        <div *ngIf="dat.category!='Dibujo/fotografía'">
          <div class="text-image-container">
            <img class="img-fluid z-depth-1 rounded" src="https://i.etsystatic.com/10919371/r/il/155a7d/1563938723/il_570xN.1563938723_1rmr.jpg" alt="">
            <div class="text-image">
              <h4 class="text-white">{{dat.titulo}}</h4>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- Grid column -->
  </div>
  </div>
    </section>
    <!-- Section -->
  
  </div>
