
<div class='col'>
<nav class="navbar navbar-expand-lg navbar-dark light-blue scrolling-navbar rounded">
  <a class="navbar-brand" href="#"><strong>Project</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login"><i class="fas fa-user"></i>User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-search"></i>Explore</a>
      </li>
    </ul>
    <div [ngSwitch]="logged">
    <div *ngSwitchCase="true">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
          <!--<a class="nav-link p-0" href="/User">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
              alt="avatar image" height="35">
          </a>-->
          <div class="dropdown derecha">
          <img src="{{icono}}" class="rounded-circle z-depth-0 iconnav"
              data-toggle="dropdown" alt="avatar image" height="35">
          <div class="dropdown-menu dropdown-primary dropdown-menu-right dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/addpost" >Crear Post</a>
              <div *ngIf='rol == "admin"'>
                <a class="dropdown-item" href="CrearAdmin" >Crear admin</a>
              </div>
              <a class="dropdown-item" href="/user">Ajustes</a>
              <a class="dropdown-item" href='/portfolio/{{_id}}'>Porfolio</a>
              <a class="dropdown-item" (click)='delogin()'>Log out</a>
          </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngSwitchCase="false">
      <a class="text-white" href="/login">LogIn/</a>
      <a class="text-white" href="/signin">SignIn</a>
    </div>
  </div>
  </div>
</nav>
</div>