<div class="container">
<div ><!--NGFOR-->
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
  
      <!--Card Primary-->
      <div class="card primary-color-dark text-center z-depth-2">
       <!--Card image-->
       <div class="view">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(122).jpg" class="card-img-top" alt="photo">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
          <h3 class="text-uppercase font-weight-bold cyan-text mt-2 mb-3"><strong>First column</strong></h3>
          <p class="white-text mb-0">Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit
            qui in ea voluptate non proident velit esse quam. </p>
        </div>
        <p class="white-text mb-0"><i class="far fa-star"></i>111&#9;<i class="far fa-comment"></i> 1222</p>
      </div>
      <!--/.Card Primary-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Card Primary-->
      <div class="card red darken-4 text-center z-depth-2">
      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(122).jpg" class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
        <div class="card-body">
          <h3 class="text-uppercase font-weight-bold light-green-text mt-2 mb-3"><strong>Second column</strong></h3>
          <p class="white-text mb-0">Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit
            qui in ea voluptate non proident velit esse quam. </p>
            
        </div>
        <p class="white-text mb-0"><i class="far fa-star"></i>111 &#9;<i class="far fa-comment"></i>1222</p>
      </div>
      <!--/.Card Primary-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Card Primary-->
      <div class="card light-blue darken-1 text-center z-depth-2">
            <!--Card image-->
        <div class="view">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(122).jpg" class="card-img-top" alt="photo">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
        </div>
        <div class="card-body">
          <h3 class="text-uppercase font-weight-bold purple-text mt-2 mb-3"><strong>Third column</strong></h3>
          <p class="white-text mb-0">Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit
            qui in ea voluptate non proident velit esse quam. </p>
        </div>
        <p class="white-text mb-0"><i class="far fa-star"></i>111&#9;<i class="far fa-comment"></i> 1222</p>
      </div>
      <!--/.Card Primary-->
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
</div>
</div>