<br>
<div class="container backwhite rounded">
    <div class="row">
        <div class="col-2">
            <img class="icon" src="{{data.icon}}" alt="">
        </div>
        <div class="col">
            <h2>{{data.name}}</h2>
            <h4>{{data.mail}}</h4>
        </div>
    </div>    
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="CambiarNick()">Cambiar Nick</button>
        </div>
    </div>
</div>
