<br>
<div class="container">
<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
    <p class="h4 mb-4">Añadir Trabajo</p>
    <!-- Name -->
    <input type="text" formControlName="titulo" id="titulo" name="titulo" class="form-control mb-4" placeholder="Titulo">
    <input type="file" (change)="onFileSelect($event)" id="file" name="file" accept=".png,.jpg,.mp4,.mp3" placeholder="Archivo">
    <input type="text" formControlName="author" id="author" name="author" placeholder="autor">
    <input type="text" formControlName="text" id="text" name="text" placeholder="texto">
    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>
</form>
<!-- Default form contact -->
</div>