<br>
<div class="container">
<!-- Default form contact -->
<form class="text-center border border-dark rounded block backwhite p-5" [(formGroup)] = "uploadForm" (ngSubmit)="onSubmit()">
    <p class="h4 mb-4">Añadir Trabajo</p>
    <!-- Name -->
    <input type="text" formControlName="titulo" id="titulo" name="titulo" class="form-control mb-6" placeholder="Titulo">
    <br>
    <input type="file" multiple  (change)="onFileSelect($event)" id="file" name="file" accept=".png,.jpg,.mp4,.mp3" placeholder="Archivo">
    <br>
    <br>
    <select name ='Categoría' formControlName="category" class="browser-default custom-select">
        <option value="Música">Música</option>
        <option value="Dibujo/fotografía">Dibujo/fotografía</option>
        <option value="Video">Video</option>
    </select>
    <br>
    <tag-input name='tags' formControlName='tags' [maxItems]='5'></tag-input>
    <input type="text" class="form-control mb-4" formControlName="text" id="text" name="text" placeholder="texto">
    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>
</form>
<!-- Default form contact -->
</div>