<br>
<div class="container backwhite rounded">
  <div *ngIf="data.autor == iduser">
    <button class="btn btn-danger" (click)="ElimModal()">X</button>
  </div>
    <div class="row " style="justify-content: center;">
            <div *ngIf="data.category == 'Dibujo/fotografía'">
                <div class="media">
                  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                  </div>
              </div>
          
            <div *ngIf="data.category == 'Música'">
              <div class="media">
              <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
                muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="pageSizeOptions" 
                [displayVolumeControls]="msaapDisplayVolumeControls" [expanded]="true">
              </mat-advanced-audio-player> 
                </div>
            </div>
            <div *ngIf="data.category == 'Video'">
              <div class="row">
                <h4>{{tituloActual}}</h4>
              </div>
              <div class="row">
                <div class="media">
                <video width="420" height="240"  [(src)]="VideoActual" controls>
                </video>
              </div>
            </div>
            <div class="row">
              <div class="scroll">  
                <ul class="list-group list-group-flush">
                <div *ngFor="let vid of srcVideo">    
                  <li class="list-group-item btn btn-primary" (click)="ChangeVideo(vid)">{{vid.title}}</li>
                </div>
              </ul>
              </div>
            </div>
              
            </div>      
    </div>
    <div class="row backwhite">
      <div class="col-4"></div>
      <div class="col-4">
        <h2>{{data.titulo}}</h2>
        <p>{{data.texto}}</p>
        <bar-rating [(rate)]="rate" [max]="5"></bar-rating>
      <button class="btn btn-primary" (click)="Puntuar()">Puntuar</button>
    </div>
    <div class="col-4">
    </div>
    </div>
    <br>
    <div *ngIf="auth" class="row backwhite rounded" style="justify-content: center;">
      <input [(ngModel)]="comentario" type="text" name="comentario" id="comentario">
      <button class="btn btn-primary" (click)="Comentar()">Comentar</button>
    </div>
    <div *ngIf="!auth" class="row backwhite rounded">
      <h3>Logeate para poder comentar</h3>
    </div>
    <br>
    <hr>
    <div *ngFor="let com of data.coments;let i = index">
      <div class="row">
        <div class="col-lg-1">
          <img src="{{com.icono}}" class="rounded-circle z-depth-0"
          data-toggle="dropdown" alt="avatar image" height="35">
        </div>
        <div class="col-lg-11">
          <h3>{{com.name}}</h3>
        </div>
  
      </div>
      <br>
  
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
          <p>{{com.coment}}</p>
        </div>
        <div class="col-lg-2" *ngIf="com.id == iduser">
          <button class="btn btn-danger" type="button" (click)="Eliminar(i)">Eliminar</button>
        </div>
      </div>
      <hr>
</div>
</div>
<br>


